**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [3]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

print(len(tables))

crime
1

In [4]:
num_tables = len(list(client.list_tables(dataset)))  # Store the answer as num_tables and then run this cell

q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [5]:
q_1.hint()
q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

Solution:
```python

# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

num_tables = 1

```

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [6]:
# Write the code to figure out the answer
table_ref = dataset_ref.table("crime")  #reference to the 'crime' table

table = client.get_table(table_ref)  #API request to fetch the table

print(table.schema)

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, ()), SchemaField('case_number', 'STRING', 'NULLABLE', None, ()), SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, ()), SchemaField('block', 'STRING', 'NULLABLE', None, ()), SchemaField('iucr', 'STRING', 'NULLABLE', None, ()), SchemaField('primary_type', 'STRING', 'NULLABLE', None, ()), SchemaField('description', 'STRING', 'NULLABLE', None, ()), SchemaField('location_description', 'STRING', 'NULLABLE', None, ()), SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, ()), SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, ()), SchemaField('beat', 'INTEGER', 'NULLABLE', None, ()), SchemaField('district', 'INTEGER', 'NULLABLE', None, ()), SchemaField('ward', 'INTEGER', 'NULLABLE', None, ()), SchemaField('community_area', 'INTEGER', 'NULLABLE', None, ()), SchemaField('fbi_code', 'STRING', 'NULLABLE', None, ()), SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, ()), SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, ()), SchemaField('year', 'INTEGER', 'NULLABLE', None, ()), SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, ()), SchemaField('latitude', 'FLOAT', 'NULLABLE', None, ()), SchemaField('longitude', 'FLOAT', 'NULLABLE', None, ()), SchemaField('location', 'STRING', 'NULLABLE', None, ())]

In [7]:
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)
client.list_rows(table).to_dataframe()

num_timestamp_fields = len(table.schema) # Put your answer here

q_2.check()

Incorrect: Incorrect value for `num_timestamp_fields`: `22`

For a hint or the solution, uncomment the appropriate line below.

In [8]:
q_2.hint()
q_2.solution()

Hint: Begin by fetching the `crime` table. Then take a look at the table schema, and check the field type of each column.  How many times does `'TIMESTAMP'` appear?

Solution:
```python

# Construct a reference to the "crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the "chicago_crime" dataset
print(table.schema)

num_timestamp_fields = 2

```

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [9]:
# Write the code here to explore the data so you can find the answer

In [10]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [11]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [12]:
# Scratch space for your code
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,3351,HL619154,2005-09-18 01:13:00+00:00,103XX S WENTWORTH AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,34,49,01A,1176784.0,1836170.0,2005,2022-08-31 04:51:30+00:00,41.705791,-87.628241,"(41.705790877, -87.628240739)"
1,27240,JF505696,2022-12-10 07:20:00+00:00,000XX W 105TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,...,34,49,01A,1177939.0,1835349.0,2022,2022-12-17 03:49:39+00:00,41.703512,-87.624036,"(41.70351191, -87.624036004)"
2,747,G194349,2001-04-06 02:00:00+00:00,104XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,PORCH,False,False,...,9,49,01A,1178093.0,1835851.0,2001,2022-09-18 04:45:51+00:00,41.704886,-87.623457,"(41.704885986, -87.623456938)"
3,22823,HZ459434,2016-10-03 02:56:00+00:00,106XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,34,49,01A,1178141.0,1834249.0,2016,2022-09-18 04:45:51+00:00,41.700489,-87.623330,"(41.700488788, -87.623329533)"
4,25831,JE181828,2021-03-28 12:11:00+00:00,007XX E 103RD ST,0110,HOMICIDE,FIRST DEGREE MURDER,GAS STATION,True,False,...,9,50,01A,1182951.0,1836828.0,2021,2022-08-31 04:51:30+00:00,41.707456,-87.605637,"(41.707455731, -87.605637491)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---
**[SQL Home Page](https://www.kaggle.com/learn/intro-to-sql)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*